
/* SCSS HEX */
$bud-green: #7fb069ff;
$cream: #fffbbdff;
$fawn: #e6aa68ff;
$vermilion: #ca3c25ff;
$rich-black-fogra-29: #071013ff;


/* SCSS HSL */
$bud-green: hsla(101, 31%, 55%, 1);
$cream: hsla(56, 100%, 87%, 1);
$fawn: hsla(31, 72%, 65%, 1);
$vermilion: hsla(8, 69%, 47%, 1);
$rich-black-fogra-29: hsla(195, 46%, 5%, 1);

/* SCSS RGB */
$bud-green: rgba(127, 176, 105, 1);
$cream: rgba(255, 251, 189, 1);
$fawn: rgba(230, 170, 104, 1);
$vermilion: rgba(202, 60, 37, 1);
$rich-black-fogra-29: rgba(7, 16, 19, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #7fb069ff, #fffbbdff, #e6aa68ff, #ca3c25ff, #071013ff);
$gradient-right: linear-gradient(90deg, #7fb069ff, #fffbbdff, #e6aa68ff, #ca3c25ff, #071013ff);
$gradient-bottom: linear-gradient(180deg, #7fb069ff, #fffbbdff, #e6aa68ff, #ca3c25ff, #071013ff);
$gradient-left: linear-gradient(270deg, #7fb069ff, #fffbbdff, #e6aa68ff, #ca3c25ff, #071013ff);
$gradient-top-right: linear-gradient(45deg, #7fb069ff, #fffbbdff, #e6aa68ff, #ca3c25ff, #071013ff);
$gradient-bottom-right: linear-gradient(135deg, #7fb069ff, #fffbbdff, #e6aa68ff, #ca3c25ff, #071013ff);
$gradient-top-left: linear-gradient(225deg, #7fb069ff, #fffbbdff, #e6aa68ff, #ca3c25ff, #071013ff);
$gradient-bottom-left: linear-gradient(315deg, #7fb069ff, #fffbbdff, #e6aa68ff, #ca3c25ff, #071013ff);
$gradient-radial: radial-gradient(#7fb069ff, #fffbbdff, #e6aa68ff, #ca3c25ff, #071013ff);
